In [8]:
x=100
y="Hello World"
a=200

In [5]:
type(x)
type(y)

str

In [6]:
 z

NameError: name 'z' is not defined

In [9]:
a*x

20000

In [10]:
num = 55<10

In [11]:
type(num)

bool

In [12]:
num

False

In [13]:

name= 'Edureka'

In [14]:
name[6]

'a'

In [15]:
name[6] = 't'

TypeError: 'str' object does not support item assignment

In [16]:
name[-1]

'a'

In [17]:
mylist=["tabish" , "cse" , 4 , "9797859943"]

In [18]:
type(mylist)

list

In [19]:
4 in mylist

True

In [20]:
mylist[2]

4

In [21]:
mylist[2] = 10

In [22]:
mylist[2]

10

In [23]:
mylist.insert(1,"MIET")

In [24]:
mylist

['tabish', 'MIET', 'cse', 10, '9797859943']

In [42]:
courses = { 1:'python', 2: 'c', 3: 'c++', 4: 'ml','fifth': 10, 6: 10}

courses

In [43]:
courses

{1: 'python', 2: 'c', 3: 'c++', 4: 'ml', 'fifth': 10, 6: 10}

In [44]:
courses[5]

KeyError: 5

In [45]:
courses["fifth"]

10

In [46]:
co

NameError: name 'co' is not defined

In [47]:
courses[6]

10

In [48]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
range(100)

range(0, 100)

In [52]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
x=100
y='tabish'

In [54]:
x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
str(x) + y

'100tabish'

In [56]:
animals=(10,20)

In [57]:
animals[1]

20

In [58]:
cars = {"hello","world","hello"}

In [59]:
cars[1] = "hello"

TypeError: 'set' object does not support item assignment

In [60]:
cars

{'hello', 'world'}

In [61]:
dic = {1:10,2:10,"third": 100}

In [62]:
dic

{1: 10, 2: 10, 'third': 100}