In [8]:
x=100
y="Hello World"
a=200

In [5]:
type(x)
type(y)

str

In [6]:
 z

NameError: name 'z' is not defined

In [9]:
a*x

20000

In [10]:
num = 55<10

In [11]:
type(num)

bool

In [12]:
num

False

In [13]:

name= 'Edureka'

In [14]:
name[6]

'a'

In [15]:
name[6] = 't'

TypeError: 'str' object does not support item assignment

In [16]:
name[-1]

'a'

In [17]:
mylist=["tabish" , "cse" , 4 , "9797859943"]

In [18]:
type(mylist)

list

In [19]:
4 in mylist

True

In [20]:
mylist[2]

4

In [21]:
mylist[2] = 10

In [22]:
mylist[2]

10

In [23]:
mylist.insert(1,"MIET")

In [24]:
mylist

['tabish', 'MIET', 'cse', 10, '9797859943']

In [29]:
courses = { 1:'python', 2: 'c', 3: 'c++', 4: 'ml'}